.flexcontainer{
display: flex;
border: 2px solid gray;
/* background-color: pink; */
height: 50vh;
flex-direction: row;
/* justify-content: flex-end; */
/* justify-content: flex-start; */
/* justify-content: first baseline; */
/* align-items: center; */
/* align-items: flex-end; */
/* align-items: flex-start; */
/* justify-content: space-between */
/* flex-wrap: wrap; */



}
.item{
    background-color: red;
    margin: 5px;
    border: 2px solid black;
    height: 122px;
    width: 122px;
}
.first1{
    align-self: center;
    /* order:3; */
}